.ToolbarRow {
  border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
  flex: 0 0 auto;
  height: var(--toolbar-height);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  transition: height 300ms ease;
  width: 100%;
  display: flex;
  align-items: center;
}

.inferenceProgressBar {
  width: 300px;
  height: 8px;
  background-color: rgb(246, 243, 250);
  border-radius: 5px;
}

.inferenceProgress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}

ToolbarRow.expanded {
  height: calc(var(--toolbar-height) + var(--toolbar-drawer-height));
}
